
// Body
$body-bg: #f9f8eb;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #1a3263;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #f0b917;
$green: #58b368;
$teal: #4dc0b5;
$cyan: #6cb2eb;
